*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body{

    background: linear-gradient(45deg, #0a0a0a, #3a4452);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%
}

.container{

    width: 45%;
    height: 55vh;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
    background: transparent;
    border: 1px solid #717377;
}

.display #screen{
    width: 100%;
    border: none;
    height: 70px;
    padding-right: .5em;
    background: transparent;
    box-shadow: inset 8px 8px 8px rgba(84, 84, 84, 0.1), inset -8px -8px 8px rgba(84, 84, 84, 0.1);
    font-size: 35px;
    text-align: right;
    cursor: pointer;
    border-radius: 6px;
    color: aliceblue;
}

#screen::placeholder{
    color: aliceblue;
}


.btns{
    width: 100%;
    margin-top: 1.7em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-be;
}


.btns .row button{
    border: none;
    width: 95px;
    height: 40px;
    margin: 5px;
    border-radius: 4px;
    background: transparent;
    color: aliceblue;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor:pointer;
    transition: 0.1s;
}

.btns .row button:hover{

    background: rgb(248, 154, 48);
    box-shadow: inset 5px 5px 8px rgba(16,16,16,0.1), -5px -5px 8px rgba(16,16,16,0.1);
    color: #0a0a0a;
    font-weight: bold;
}

#eval, #ce, #ac{

    background: #003b8d;
    font-size: larger;
    box-shadow: inset 5px 5px 8px rgba(85, 119, 242, 0.641);
    color: white;
}